set -x PATH /home/{{ user }}/.nix-profile/bin $PATH
set -x PATH /home/{{ user }}/scala/bin $PATH

# tmux alias
function tn
  tmux new -s $argv[1]
end

function ta
  tmux new a -t $argv[1]
end

function tl
  tmux tmux ls
end
