set paths "$HOME/.nix-profile/bin"
# disabled path
# set paths "$HOME/.cargo/bin" "/usr/local/opt/texinfo/bin" "$HOME/.rbenv/bin" "/opt/flutter/bin" "$HOME/.pub-cache/bin" (go env GOPATH)"/bin" $paths

for p in $paths
  set -x PATH $p $PATH
end

# set -x PATH /home/{{ user }}/.nix-profile/bin $PATH
# set -x PATH /home/{{ user }}/scala/bin $PATH
set -x SSL_CERT_FILE "$HOME/.nix-profile/etc/ssl/certs/ca-bundle.crt"

function fish_prompt
  set_color $fish_color_cwd
  echo -n (prompt_pwd)
  set_color normal
  echo -n ' > '
end

function gbranch
  git branch | grep $argv[1]
end

# tmux alias
function tn
  tmux new -s $argv[1]
end

function ta
  tmux a -t $argv[1]
end

function tl
  tmux ls
end
